/* Centrar el modal */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    gap: 1px; /* Espaciado entre elementos */
}

dialog span{
    font-size: 16px;
    margin-bottom: 16px;

}
dialog ul :nth-child(odd){
    color:  rgba(5, 49, 3, 0.9);
    font-weight: bold;
    
}

dialog ul :nth-child(even){
    color:  rgba(69, 124, 69, 0.9);
    font-weight: bold;
    
}

#pruebas {
  border: none;
  /* Elimina el borde */
  outline: none;
  /* Elimina el borde al hacer clic */
}

 a img {
   height: 65px !important;
   /* Ajusta la altura */
   margin-top: 10px;
 }

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  #body {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
  }
  
  footer {
    margin-top: auto; /* Empuja el footer al final */
  }

 dialog  li{

   margin: 6px;
  }

  #results{
    margin-top: 50px;
  }